<header>
  <div class="header fixed top-0 right-0 left-0 z-100 bg-red scrolled">
    <div class="wrap relative z-10">
      <div class="max-w-1520 mx-auto">
        <div class="header-inner flex justify-between items-center">
          <div class="btn-menu js-btn-menu"><span></span><span></span><span></span></div>
          <div class="flex justify-between gap-x-100 items-center">
            <a href="{{ routes.root_url }}" class="header-logo" aria-label="{{ shop.name | escape }}">
              {%- if section.settings.logo != blank -%}
                <div>
                  {%- assign logo_alt = section.settings.logo.alt | default: shop.name | escape -%}
                  {%- assign logo_height = section.settings.logo_width
                    | divided_by: section.settings.logo.aspect_ratio
                  -%}
                  {% capture sizes %}(max-width: {{ section.settings.logo_width | times: 2 }}px) 50vw, {{ section.settings.logo_width }}px{% endcapture %}
                  {% capture widths %}{{ section.settings.logo_width }}, {{ section.settings.logo_width | times: 1.5 | round }}, {{ section.settings.logo_width | times: 2 }}{% endcapture %}
                  {{
                    section.settings.logo
                    | image_url: width: 600
                    | image_tag:
                    class: 'header__heading-logo motion-reduce',
                    widths: widths,
                    height: logo_height,
                    width: section.settings.logo_width,
                    alt: logo_alt,
                    sizes: sizes,
                    preload: true
                  }}
                </div>
              {%- else -%}
                <!-- 如果没有设置logo，使用你原始的SVG图标 -->
                <svg id="a" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 230 42">
                  <path class="path-01" d="M175.4,10.71h9.57v31.29h-9.57V10.71Zm40.66,0v14.18l13.74-14.18h-13.74Zm-86.29,7.63v-7.63h-37.85v7.63h14.14v23.66h9.57V18.34h14.14Zm74.55,23.66v-14.19s-13.74,14.19-13.74,14.19h13.74ZM89.01,19.88c-.02-.18-.07-.35-.1-.53-.06-.35-.13-.7-.22-1.04-.06-.2-.12-.4-.19-.6-.1-.3-.2-.6-.33-.89-.08-.2-.18-.4-.27-.6-.13-.27-.27-.54-.42-.8-.11-.19-.23-.38-.35-.57-.16-.25-.34-.49-.52-.72-.14-.18-.27-.35-.41-.52-.2-.23-.41-.45-.63-.66-.15-.15-.29-.3-.44-.45-.27-.25-.56-.47-.85-.7-.12-.09-.22-.19-.34-.27-.44-.31-.89-.59-1.37-.84h-30.69v7.63h25.09c.45,.35,.84,.76,1.16,1.22,.71,1.09,.96,2.42,.68,3.68-.03,.11-.05,.22-.08,.33-.07,.25-.15,.49-.26,.72-.02,.05-.04,.11-.07,.16-.31,.64-.76,1.2-1.32,1.66h-25.2v15.88h9.57v-9.23h10.54l4.69,9.24h10.74l-4.9-9.67c.26-.13,.5-.27,.74-.43,.18-.11,.36-.2,.53-.32,1.77-1.22,3.19-2.87,4.11-4.81h0c.13-.27,.24-.55,.35-.83,.08-.2,.16-.4,.23-.61,.08-.25,.15-.5,.22-.75,.07-.28,.14-.58,.19-.87,.04-.2,.08-.4,.11-.61,.15-1.07,.15-2.15,0-3.22m80.68,0c-.02-.18-.07-.35-.1-.53-.06-.35-.13-.7-.22-1.04-.05-.2-.12-.4-.19-.6-.1-.3-.2-.6-.33-.89-.09-.2-.18-.4-.27-.6-.13-.27-.27-.54-.42-.8-.11-.19-.23-.38-.35-.57-.16-.25-.34-.49-.52-.72-.13-.18-.27-.35-.41-.52-.2-.23-.41-.45-.63-.66-.15-.15-.29-.3-.44-.45-.27-.25-.56-.47-.85-.7-.12-.09-.22-.19-.34-.27-.44-.31-.89-.59-1.37-.84h-30.69v7.63h25.09c.45,.35,.84,.76,1.16,1.22,.71,1.09,.96,2.42,.68,3.68-.02,.11-.05,.22-.08,.33-.07,.25-.15,.49-.26,.72-.02,.05-.04,.11-.07,.16-.31,.64-.76,1.2-1.32,1.66h-25.2v15.88h9.57v-9.23h10.55l4.69,9.24h10.74l-4.9-9.67c.26-.13,.5-.27,.74-.43,.18-.11,.36-.2,.53-.32,1.77-1.22,3.19-2.87,4.11-4.81h0c.13-.27,.24-.55,.35-.83,.08-.2,.16-.4,.23-.61,.09-.25,.15-.5,.22-.75,.07-.29,.14-.58,.19-.87,.04-.2,.08-.4,.11-.61,.15-1.07,.15-2.15,0-3.22m60.12,22.11l-26.65-31.29h-12.57l26.65,31.29h12.57ZM25.24,1.66h0c-.27-.49-.88-.66-1.36-.39-.16,.09-.29,.22-.37,.37l-.03,.05-4.63,8.02L.21,41.99H11.26l13.11-22.71,13.11,22.71h11.05L25.24,1.66Z"></path>
                  <path class="path-02" d="M28.36,29.2l-3.57-6.18c-.13-.23-.43-.32-.67-.18-.08,.04-.14,.11-.18,.18l-3.57,6.18h7.99Zm3.69,6.39l-2.21-3.83h-10.95l-2.21,3.83h15.37Zm1.48,2.56H15.21l-1.79,3.1c-.14,.23-.06,.53,.18,.67,.07,.04,.16,.07,.25,.07h21.06c.27,0,.49-.22,.49-.49,0-.09-.02-.17-.07-.24l-1.79-3.1Z"></path>
                </svg>
              {%- endif -%}
            </a>
            <div class="header-right flex justify-between items-center">
              <div class="header-menu">
                <div class="hm-close js-hm-close hidden text-white"></div>
                <ul class="hm-ul flex gap-x-50 text-20">
                  {% for link in linklists['main-menu'].links %}
                    <li class="hm-li{% if link.active %} active{% endif %}">
                      <a href="{{ link.url }}" class="hm-link has-sub text-white">{{ link.title }}</a>
                      {% if link.links != blank %}
                        <div class="hm-sub pt-20 pb-60">
                          <div class="wrap">
                            <div class="max-w-1520 mx-auto">
                              <div class="subm-pro">
                                <div class="submpr-part">
                                  <ul class="list-submp flex flex-wrap gap-x-40 my-10">
                                    {% for childlink in link.links %}
                                      <li>
                                        <div class="submp-item mt-10">
                                          <a href="{{ childlink.url }}">
                                            <div class="submp-item__img img-box">
                                              {% assign product_handle = childlink.object.handle %}
                                              {% assign menu_image = all_products[product_handle].metafields.custom.collection_info %}

                                              {% if menu_image %}
                                                <img
                                                  src="{{ menu_image | img_url: 'master' }}"
                                                  alt="{{ childlink.title }}"
                                                >
                                              {% endif %}
                                            </div>
                                            <div class="text-20 font-500 line-clamp-1 mt-10">{{ childlink.title }}</div>
                                            <p class="text-20 text-grey">描述文本</p>
                                          </a>
                                        </div>
                                      </li>
                                    {% endfor %}
                                  </ul>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

{% stylesheet %}
  .hm-link:hover {
    color: #fff;
  }
  .hm-link::after {
    background-color: #fff;
  }
  .header-right {
    width: auto;
  }
  .header {
    transition: transform 0.3s ease-in-out;
    background-color: transparent;
  }
  .header.scrolled {
    background-color: #ff0000; /* 使用您网站的背景颜色，这里用红色作为示例 */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 添加一点阴影效果 */
  }
{% endstylesheet %}

{% schema %}
{
  "name": "t:general.header",
  "settings": [
    {
      "type": "link_list",
      "id": "menu",
      "label": "t:labels.menu"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo"
    },
    {
      "type": "range",
      "id": "logo_width",
      "min": 50,
      "max": 300,
      "step": 5,
      "default": 150,
      "unit": "px",
      "label": "Logo width"
    }
  ]
}
{% endschema %}
