<style>
  .thumbnail-container {
    width:14.893617%;
  }
  .product-left {
    width: 42.9616088%;
  }
  .main-image-container {
    width:81.7021277%;
  }
  .product-right {
    width: 52.7422303%;
  }
</style>

<section>
  <div class="wrap">
    <div class="max-w-1520 mx-auto">
      <div class="product-container mx-auto flex justify-between">
        <product-gallery-h class="product-left flex justify-between">
          <div class="thumbnail-container h-full">
            <div class="splide js-splide-thumbnail h-full">
              <div class="splide__track h-full">
                <ul class="splide__list">
                  {% for image in product.images %}
                    <li class="splide__slide img-box thumbnail-item">
                      <img src="{{ image | img_url: 'master' }}" alt="{{ product.title | escape }}">
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <div class="main-image-container">
            <div class="splide js-main-splide h-full">
              <div class="splide__track h-full">
                <ul class="splide__list">
                  {% for image in product.images %}
                    <li class="splide__slide img-box main-item">
                      <img src="{{ image | img_url: 'master' }}" alt="{{ product.title | escape }}">
                    </li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
        </product-gallery-h>
        <div class="product-right">
        </div>
      </div>
    </div>
  </div>
</section>

<script src="{{ 'component-products.js' | asset_url }}" defer></script>